body {
    background-color: #ddd;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

li {
    list-style-type: none;
}

#page-container {
    display: flex;
    align-items: space-between;
    height: 100%;
}

.grid-container {
    display: grid;
}

img {
    max-height: 100%;
    max-width: 100%;
    margin: 10px;
}

.flex-item {
    border-radius: 1px;
    border-color: aquamarine;
}

#left-bar {
    width: 200px;
    background-color: black;
    color: white;
}

#left-bar-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 15fr;
}

#search {
    grid-column: 1 / 1;
    background-color: darkgray;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

#results {
    grid-column: 2 / 1;
}

#image-scroll-bar {
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    overscroll-behavior-y: contain;
}

#right-bar {
    width: 200px;
    background-color: black;
    color: white;
}

#right-bar-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 3fr;
}

#trends {
    grid-column: 1 / 2;
    padding: 10px;
}

#trending-images {
    grid-column: 2 / 3;
}

.nav {
    background-color: white;
    overflow: hidden;
    width: -webkit-fill-available;
    background: linear-gradient(rgba(47, 48, 56, 0.8), rgba(47, 48, 56, 0.2));
}

ul {
    padding-inline-start: 0;
}

.nav ul {
    overflow: hidden;
    justify-content: space-between;
    list-style-type: none;
}

.nav ul li {
    float: left;
    padding: 10px 25px 10px 25px;
}

.nav ul li a {
    position: relative;
    display: block;
    font-family: Lato, sans-serif;
    color: #ecf0f1;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
}

.nav ul li a:hover {
    color: #aebec0;
} 
.nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
